.weatherBox {
    border: 2px solid white;
    width: 500px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
   
}

.temp {
    font-size: 30px;
    margin: 0;
    color: yellow;
    font-weight: bold;
}

.weather {
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
    color: skyblue;
}

.location {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

body {
    background: url(https://img.freepik.com/free-vector/sky-hwasang-hoeui-baegyeong_23-2148639325.jpg?semt=ais_hybrid);
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat; 
}

.buttons {
    border: 2px solid black;
    margin-top: 220px;
    width: 490px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 30px;
}

.button {
    margin-right: 12px;
    margin-left: 10px;
}